<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="resources/myfavicon.ico" th:href="@{/resources/myfavicon.ico}" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">

	<link rel="stylesheet" type="text/css" href="css/util.css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" href="css/home_main.css" th:href="@{/css/home_main.css}">
<!--===============================================================================================-->

<style>
nav ul li {
	padding: 8px;
	color: #FFFFFF;
	font-size: 20px;
}
</style>

</head>
<body>


	<div class="limiter">

		<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-expand-sm py-2">
			<div
				class="navbar-collapse collapse w-80 order-1 order-md-0 dual-collapse2">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><span class="navbar-brand mb-0 h1">Online Services</span></li>
					<li class="nav-item active"><form class="form" th:action="@{/GoToHomePage}">
					<button class="btn btn-light my-2 my-sm-0" type="submit">Home</button>
				</form></li>
					<li class="nav-item active"><form class="form" th:action="@{/GoToHoldCourse(courseId)}">
							<input type="hidden" name="courseId" th:value="${courseId}" />
							<button class="btn btn-light my-2 my-sm-0" type="submit">Exam dates</button>
										</form></li>
				</ul>
			</div>

			<div class="navbar-collapse collapse w-80 order-3 dual-collapse2">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a th:text="${session.user.name} ">Name</a></li>
					<li class="nav-item"><a th:text="${session.user.surname} ">Surname</a></li>
					<li class="nav-item"><a th:text="${session.user.id} ">ID</a></li>
					<li class="nav-item"><form class="form" th:action="@{/Logout}">
					<button class="btn btn-light my-2 my-sm-0" type="submit">Logout</button>
				</form></li>
				</ul>
				
			</div>
		</nav>

		<div class="container-table">
			<div class=bg>
				<div class="home-title">Exam Page</div>
				
			    <div class="home-subtitle" th:if="${noSubs == true}">There aren't registered students yet</div>
				
				<div class="wrap-table" th:if="${noSubs == false}">
							<div class="home-subtitle">Exam Registered Students</div>
					<div class="table">
					
					

							<table>
								<thead>
									<tr class="table-head">
									
										<th class="column1">
										<form class="form" th:action="@{/GoToRegisteredStudents}">
										
										<input type="hidden" name="examId" th:value="${examId}" />
										<input type="hidden" name="courseId" th:value="${courseId}" />
										<input type="hidden" name="requestType" th:value="${'sort'}" />
										<input type="hidden" name="sortingType" th:value="${'STUDENTS_IDS'}" />
										
										<button type="submit" class="button-no-bg">Student Id<i class="fa fa-fw fa-sort"></i></button>
										</form>
										</th>
										
										
										<th class="column2">
										<form class="form" th:action="@{/GoToRegisteredStudents}">
										
										<input type="hidden" name="examId" th:value="${examId}" />
										<input type="hidden" name="courseId" th:value="${courseId}" />
										<input type="hidden" name="requestType" th:value="${'sort'}" />
										<input type="hidden" name="sortingType" th:value="${'SURNAME'}" />
										
										<button type="submit" class="button-no-bg">Surname<i class="fa fa-fw fa-sort"></i></button>
										</form>
										</th>
										
										
										<th class="column3">
										<form class="form" th:action="@{/GoToRegisteredStudents}">
										
										<input type="hidden" name="examId" th:value="${examId}" />
										<input type="hidden" name="courseId" th:value="${courseId}" />
										<input type="hidden" name="requestType" th:value="${'sort'}" />
										<input type="hidden" name="sortingType" th:value="${'NAME'}" />
										
										<button type="submit" class="button-no-bg">Name<i class="fa fa-fw fa-sort"></i>
										</button>
										</form>
										</th>
										
										
										<th class="column4">
										<form class="form" th:action="@{/GoToRegisteredStudents}">
										
										<input type="hidden" name="examId" th:value="${examId}" />
										<input type="hidden" name="courseId" th:value="${courseId}" />
										<input type="hidden" name="requestType" th:value="${'sort'}" />
										<input type="hidden" name="sortingType" th:value="${'EMAIL'}" />
										
										<button type="submit" class="button-no-bg">E-mail<i class="fa fa-fw fa-sort"></i>
										</button>
										</form>
										</th>
										
										
										<th class="column5">
										<form class="form" th:action="@{/GoToRegisteredStudents}">
										
										<input type="hidden" name="examId" th:value="${examId}" />
										<input type="hidden" name="courseId" th:value="${courseId}" />
										<input type="hidden" name="requestType" th:value="${'sort'}" />
										<input type="hidden" name="sortingType" th:value="${'DEGREE'}" />
										
										<button type="submit" class="button-no-bg">Degree<i class="fa fa-fw fa-sort"></i>
										</button>
										</form>
										</th>
										
										
										<th class="column6">
										<form class="form" th:action="@{/GoToRegisteredStudents}">
										
										<input type="hidden" name="examId" th:value="${examId}" />
										<input type="hidden" name="courseId" th:value="${courseId}" />
										<input type="hidden" name="requestType" th:value="${'sort'}" />
										<input type="hidden" name="sortingType" th:value="${'GRADE'}" />
										
										<button type="submit" class="button-no-bg">Grade<i class="fa fa-fw fa-sort"></i>
										</button>
										</form>
										</th>
										
										
										<th class="column7">
										<form class="form" th:action="@{/GoToRegisteredStudents}">
										
										<input type="hidden" name="examId" th:value="${examId}" />
										<input type="hidden" name="courseId" th:value="${courseId}" />
										<input type="hidden" name="requestType" th:value="${'sort'}" />
										<input type="hidden" name="sortingType" th:value="${'GRADE_STATE'}" />
										
										<button type="submit" class="button-no-bg">Grade state<i class="fa fa-fw fa-sort"></i>
										</button>
										</form>
										</th>
										
										
										<th class="column8">Modify</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="registerEntry : ${registerMap}">

										<td class="column1" th:text="${registerEntry.key.id}"></td>
										<td class="column2" th:text="${registerEntry.key.surname}"></td>
										<td class="column3" th:text="${registerEntry.key.name}"></td>
										<td class="column4" th:text="${registerEntry.key.email}"></td>
										<td class="column5" th:text="${registerEntry.key.degree}"></td>
										
										<td class="column6" th:if="${registerEntry.value.left}==-1">Not inserted</td>
										<td class="column6" th:if="${registerEntry.value.left}==0">Absent</td>
										<td class="column6" th:if="${registerEntry.value.left}==1">Postponed</td>
										<td class="column6" th:if="${registerEntry.value.left}==2">To Sit Again</td>
										<td class="column6" th:if="${(registerEntry.value.left &gt; 2) and (registerEntry.value.left &lt; 31) }" th:text="${registerEntry.value.left}"></td>
										<td class="column6" th:if="${registerEntry.value.left}==31">30 Cum laude</td>
									
										<td class="column7" th:text="${registerEntry.value.right}"></td>
										<td class="column8" >
										<form class="form" th:action="@{/GoToModifyStudentGrade}">
							<input type="hidden" name="studentId" th:value="${registerEntry.key.id}" />
							<input type="hidden" name="examId" th:value="${examId}" />
							<input type="hidden" name="courseId" th:value="${courseId}" />
							
						
							<button class="btn btn-outline-dark" th:disabled="${#strings.equals(registerEntry.value.right, 'recorded') || #strings.equals(registerEntry.value.right, 'published') || #strings.equals(registerEntry.value.right, 'refused')}" type="submit">Modify</button>
										</form>
												
										</td>
										
									</tr>
							
								</tbody>

							</table>
					</div>
					<form method="post" class="button1" th:action="@{/GoToRegisteredStudents}">
					 <input type="hidden" name="requestType" th:value="${'publish'}" />
					 <input type="hidden" name="examId" th:value="${examId}" />
					 <input type="hidden" name="courseId" th:value="${courseId}" />
					<button type="submit" class="btn btn-light" th:disabled="${areAllPublished} == true">Publish Grades</button>
					</form> 
					&nbsp;		
					<form method="post" class="button2" th:action="@{/GoToRegisteredStudents}">
				    <input type="hidden" name="requestType" th:value="${'record'}" />
					<input type="hidden" name="examId" th:value="${examId}" />
					 <input type="hidden" name="courseId" th:value="${courseId}" />
					
					<button type="submit" class="btn btn-light" th:disabled="${areAllRecorded} == true">Record Grades</button>
					</form> 
						
					</div>
									
				</div>
				
				
				
			</div>
		</div>

</body>
</html>