<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="resources/myfavicon.ico" th:href="@{/resources/myfavicon.ico}" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
	
	<link rel="stylesheet" type="text/css" href="css/util.css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" href="css/home_main.css" th:href="@{/css/home_main.css}">
<!--===============================================================================================-->
</head>
<body>

	
	<div class="limiter">
	
		
		<div class="container-table">

		<div class = bg>
		
			<div class="home-title">Exam Page</div>
			
			<div class="home-subtitle">Exam Registered Students</div>
	
	
			<div class="wrap-table">
				<div class="table">
				
						<form method="GET" id="form" action="GoToCourse" th:action="${session.user.role == 'professor'} ? @{/GoToRegisteredStudents} : @{/GoToExam}">
						
					<table>
						<thead>
							<tr class="table-head">
								<th class="column1">Student Id</th>
								<th class="column2">Surname</th>
								<th class="column3">Name</th>
								<th class="column4">E-mail</th>
								<th class="column5">Degree</th>
								<th class="column6">Grade</th>
								<th class="column7">Grade State</th>
								<th class="column8">&nbsp;</th>
							</tr>
						</thead>  
						<tbody>		<tr th:each="registerEntry : ${registerMap}">
								
									<td class="column1"	th:text="${registerEntry.key.id}"></td>
									<td class="column2"	th:text="${registerEntry.key.surname}"></td>
									<td class="column3"	th:text="${registerEntry.key.name}"></td>
									<td class="column4"	th:text="${registerEntry.key.email}"></td>
									<td class="column5"	th:text="${registerEntry.key.degree}"></td>
									<td class="column5"	th:text="${registerEntry.value.key}"></td>
									<td class="column5"	th:text="${registerEntry.value.value}"></td>
													
								</tr>
									
						</tbody>
						
					</table>
					</form>
				</div>
			</div>
			</div>
		</div>
	</div>

</body>
</html>