<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="cache-control" content="no-cache"> <!-- tells browser not to cache -->
<meta http-equiv="expires" content="0"> <!-- says that the cache expires 'now' -->
<meta http-equiv="pragma" content="no-cache"> <!-- says not to use cached stuff, if there is any -->


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="resources/myfavicon.ico" th:href="@{/resources/myfavicon.ico}" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">

	<link rel="stylesheet" type="text/css" href="css/util.css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" href="css/home_main.css" th:href="@{/css/home_main.css}">
<!--===============================================================================================-->

<style>
nav ul li {
	padding: 8px;
	color: #FFFFFF;
	font-size: 20px;
}
</style>

</head>
<body>


	<div class="limiter">

		<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-expand-sm py-2">
			<div
				class="navbar-collapse collapse w-80 order-1 order-md-0 dual-collapse2">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><span class="navbar-brand mb-0 h1">Online Services</span></li>
					<li class="nav-item active"><form class="form" th:action="@{/GoToHomePage}">
					<button class="btn btn-light my-2 my-sm-0" type="submit">Home</button>
				</form></li>
					<li class="nav-item active"><form class="form" th:action="@{/GoToHoldCourse(courseId)}">
							<input type="hidden" name="courseId" th:value="${courseId}" />
							<button class="btn btn-light my-2 my-sm-0" type="submit">Exam dates</button>
										</form></li>
				</ul>
			</div>

			<div class="navbar-collapse collapse w-80 order-3 dual-collapse2">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a th:text="${session.user.name} ">Name</a></li>
					<li class="nav-item"><a th:text="${session.user.surname} ">Surname</a></li>
					<li class="nav-item"><a th:text="${session.user.id} ">ID</a></li>
					<li class="nav-item"><form class="form" th:action="@{/Logout}">
					<button class="btn btn-light my-2 my-sm-0" type="submit">Logout</button>
				</form></li>
				</ul>
				
			</div>
		</nav>

		<div class="container-table">
			<div class=bg>
				<div class="home-title">Exam Report</div>
				
				<div class="wrap-table">
							<div class="home-subtitle" th:text="${'Report Id : ' + report.reportId}"></div>
							<div class="home-subsubtitle" th:text="${'Report Date : ' + report.getPrettyPrintedDate()}"></div>
					<div class="table">

							<table>
								<thead>
									<tr class="table-head">
										<th class="column1">Student Id</th>
										<th class="column2">Surname</th>
										<th class="column3">Name</th>
										<th class="column4">Grade</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="student : ${report.students}">

										<td class="column1" th:text="${student.id}"></td>
										<td class="column2" th:text="${student.surname}"></td>
										<td class="column3" th:text="${student.name}"></td>
																			
										<td class="column4" th:if="${report.getStudentGrade(student.id)}==-1">Not inserted</td>
										<td class="column4" th:if="${report.getStudentGrade(student.id)}==0">Absent</td>
										<td class="column4" th:if="${report.getStudentGrade(student.id)}==1">Postponed</td>
										<td class="column4" th:if="${report.getStudentGrade(student.id)}==2">To Sit Again</td>
										<td class="column4" th:if="${(report.getStudentGrade(student.id) &gt; 2) and (report.getStudentGrade(student.id) &lt; 31) }" th:text="${report.getStudentGrade(student.id)}"></td>
										<td class="column4" th:if="${report.getStudentGrade(student.id)}==31">30 Cum laude</td>
										
									</tr>
							
								</tbody>

							</table>
					</div>
					
					 <form method="get"  class="button1" th:action="@{/GoToRegisteredStudents}">
					 <input type="hidden" name="examId" th:value="${examId}" />
					  <input type="hidden" name="courseId" th:value="${courseId}" />
					  <input type="hidden" name="requestType" th:value="${'load'}" />
					<button type="submit" class="btn btn-light">Exam Grades</button>
					</form> 
					
					<form method="get" class="button2" th:action="@{/GoToHoldCourse}">
					 <input type="hidden" name="courseId" th:value="${courseId}" />
					
					<button type="submit" class="btn btn-light">Your courses</button>
					</form> 
					
						</div>

			</div>
		</div>
		</div>

</body>
</html>