<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="cache-control" content="no-cache"> <!-- tells browser not to cache -->
<meta http-equiv="expires" content="0"> <!-- says that the cache expires 'now' -->
<meta http-equiv="pragma" content="no-cache"> <!-- says not to use cached stuff, if there is any -->


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="resources/myfavicon.ico"
	th:href="@{/resources/myfavicon.ico}" />
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="resources/myfavicon.ico" th:href="@{/resources/myfavicon.ico}" />
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" type="text/css" href="css/modify_grade.css"th:href="@{/css/modify_grade.css}">
	<link rel="stylesheet" type="text/css" href="css/popover.css" th:href="@{/css/popover.css}">
<!--===============================================================================================-->

<style>
nav ul li {
	padding: 8px;
	color: #FFFFFF;
	font-size: 20px;
}
</style>


</head>
<body>

	<div class="limiter">

		<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-expand-sm py-2">
			<div
				class="navbar-collapse collapse w-80 order-1 order-md-0 dual-collapse2">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><span class="navbar-brand mb-0 h1">Online Services</span></li>
					<li class="nav-item active"><form class="form" th:action="@{/GoToHomePage}">
					<button class="btn btn-light my-2 my-sm-0" type="submit">Home</button>
				</form></li>
					<li class="nav-item active"><form class="form" th:action="@{/GoToHoldCourse(courseId)}">
							<input type="hidden" name="courseId" th:value="${courseId}" />
							<button class="btn btn-light my-2 my-sm-0" type="submit">Exam dates</button>
										</form></li>
				</ul>
			</div>

			<div class="navbar-collapse collapse w-80 order-3 dual-collapse2">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a th:text="${session.user.name} ">Name</a></li>
					<li class="nav-item"><a th:text="${session.user.surname} ">Surname</a></li>
					<li class="nav-item"><a th:text="${session.user.id} ">ID</a></li>
					<li class="nav-item"><form class="form" th:action="@{/Logout}">
					<button class="btn btn-light my-2 my-sm-0" type="submit">Logout</button>
				</form></li>
				</ul>
				
			</div>
		</nav>
		
		
<div class="container two-col-example">
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <h2>Student Info</h2>
      <div class="card-deck mb-1 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
           <img src="resources/name.png" width="70" height="70" th:src="@{/resources/name.png}" alt="IMG">
            			  <h4 class="card-title pricing-card-title">Name</h4>
	            <p class="mt-3 mb-4" th:text="${studentInfo.left.name}"></p>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-body">
             <img src="resources/id.png" width="80" height="80" th:src="@{/resources/id.png}" alt="IMG">
           			  <h4 class="card-title pricing-card-title">Student ID</h4>
	            <p class="mt-3 mb-4" th:text="${studentInfo.left.id}"></p>
          </div>
        </div>
      </div>
      <div class="card-deck mb-1 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
           <img src="resources/email.png" width="70" height="70" th:src="@{/resources/email.png}" alt="IMG">
            			  <h4 class="card-title pricing-card-title">E-mail</h4>
	            <p class="mt-3 mb-4" th:text="${studentInfo.left.email}"></p>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <img src="resources/degree.png" width="70" height="70" th:src="@{/resources/degree.png}" alt="IMG">
           			  <h4 class="card-title pricing-card-title">Degree</h4>
	            <p class="mt-3 mb-4" th:text="${studentInfo.left.degree}"></p>
          </div>
        </div>
      </div>
      <div class="card-deck mb-1 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <img src="resources/grade.png" width="80" height="80" th:src="@{/resources/grade.png}" alt="IMG">
            			  <h4 class="card-title pricing-card-title">Grade</h4>
            			  
            			  
            			  				 <p class="mt-3 mb-4" th:if="${studentInfo.right.left}==-1">Not inserted</p>
										 <p class="mt-3 mb-4" th:if="${studentInfo.right.left}==0">Absent</p>
										 <p class="mt-3 mb-4" th:if="${studentInfo.right.left}==1">Postponed</p>
										 <p class="mt-3 mb-4" th:if="${studentInfo.right.left}==2">To Sit Again</p>
										 <p class="mt-3 mb-4" th:if="${(studentInfo.right.left &gt; 2) and (studentInfo.right.left &lt; 31) }" th:text="${studentInfo.right.left}"></p>
										 <p class="mt-3 mb-4" th:if="${studentInfo.right.left}==31">30 Cum laude</p>
          
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-body">
             <img src="resources/grade_state.png" width="70" height="70" th:src="@{/resources/grade_state.png}" alt="IMG">
          			  <h4 class="card-title pricing-card-title">Grade State</h4>
	            <p class="mt-3 mb-4" th:text="${studentInfo.right.right}"></p>
          </div>
        </div>
      </div>
      
     <div class="popover__wrapper">
  <a href="#">
    <button class="btn btn-light" disabled>Modify Grade</button>
  </a>
  <div class="popover__content">
   <form class="form" th:action="@{/GoToModifyStudentGrade}" method="post">
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect" th:text="#{strings.equals(studentInfo.right.right, 'not inserted')} ? 'Insert Grade' : 'Modify grade'"></label>
      <p class="popover__message"  th:if="!#{strings.equals(error, '')}" th:text="${error}"></p>
          
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="grade">
        <option selected>Choose...</option>        
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>    
		<option value="30">30</option>
        <option value="31">30 cum laude</option>
        <option value="0">Absent</option>
        <option value="1">Postponed</option>
        <option value="2">To sit again</option>                   
      </select>
    </div>
    <div class="col-auto my-1">
    <input type="hidden" name="examId" th:value="${examId}" />
    <input type="hidden" name="courseId" th:value="${courseId}" />    
    <input type="hidden" name="studentId" th:value="${studentInfo.left.id}" />
    
      <button type="submit" class="btn btn-primary" th:action="@{/GoToModifyStudentGrade}">Submit</button>
    </div>
  </div>
</form>
  </div>
</div>
    </div>
    
  </div>
</div>
</div>

</body>






