
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}



body {
	
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  
}



#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound  {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 50%;
  padding: 1rem 2rem;

}


#notfound .notfound {
 max-width: 1050px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
    box-shadow: 0 0 15px 10px #c850c0;
    background-color: rgba(0, 0, 0 , 0.1);
}

.notfound {
  max-width: 2000px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 300;
}

.notfound h2 {
  
  
    font-size: 3rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-weight: 500;
    color: #F0F0F0;
    text-transform: uppercase;
}

.notfound p {
  font-family: OpenSans-Regular;
  font-size: 16px;
  color: #F0F0F0;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 2px;
}

.notfound a {
  font-family: OpenSans-Regular;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #189cf0;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #F0F0F0;
  font-weight: 100;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: #fff;
  border-color: #189cf0;
  color: #189cf0;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 162px;
  }
  .notfound h2 {
    font-size: 26px;
  }
}
