<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="resources/myfavicon.ico"
	th:href="@{/resources/myfavicon.ico}" />
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="resources/myfavicon.ico" th:href="@{/resources/myfavicon.ico}" />
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" type="text/css" href="css/modify_grade.css"th:href="@{/css/modify_grade.css}">
	<link rel="stylesheet" type="text/css" href="css/popover.css" th:href="@{/css/popover.css}">
<!--===============================================================================================-->

<style>
nav ul li {
	padding: 8px;
	color: #FFFFFF;
	font-size: 20px;
}
</style>


</head>
<body>

<div class="limiter">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-expand-sm py-2">
			<div
				class="navbar-collapse collapse w-80 order-1 order-md-0 dual-collapse2">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><span class="navbar-brand mb-0 h1">Online Services</span></li>
					<li class="nav-item active"><form class="form" th:action="@{/GoToHomePage}">
					<button class="btn btn-light my-2 my-sm-0" type="submit">Home</button>
				</form></li>
					<li class="nav-item active"><form class="form" th:action="@{/GoToCourse}">
							<input type="hidden" name="courseId" th:value="${courseId}" />
							<button class="btn btn-light my-2 my-sm-0" type="submit">Exam dates</button>
										</form></li>
				</ul>
			</div>

			<div class="navbar-collapse collapse w-80 order-3 dual-collapse2">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a th:text="${session.user.name} ">Name</a></li>
					<li class="nav-item"><a th:text="${session.user.surname} ">Surname</a></li>
					<li class="nav-item"><a th:text="${session.user.id} ">ID</a></li>
					<li class="nav-item"><form class="form" th:action="@{/Logout}">
					<button class="btn btn-light my-2 my-sm-0" type="submit">Logout</button>
				</form></li>
				</ul>
				
			</div>
</nav>
		
		
<div class="container two-col-example">
 <h2>Exam outcome</h2>
  <div class="row" th:if="${hasBeenPublished == true}">
    <div class="col-lg-6 col-xs-12">
      <div class="card-deck mb-1 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
           <img src="resources/name.png" width="70" height="70" th:src="@{/resources/name.png}" alt="IMG">
            			  <h4 class="card-title pricing-card-title">Name</h4>
	            <p class="mt-3 mb-4" th:text="${studentInfo.left.name}"></p>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-body">
             <img src="resources/id.png" width="80" height="80" th:src="@{/resources/id.png}" alt="IMG">
           			  <h4 class="card-title pricing-card-title">Student ID</h4>
	            <p class="mt-3 mb-4" th:text="${studentInfo.left.id}"></p>
          </div>
        </div>
      </div>
      <div class="card-deck mb-1 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
           <img src="resources/email.png" width="70" height="70" th:src="@{/resources/email.png}" alt="IMG">
            			  <h4 class="card-title pricing-card-title">E-mail</h4>
	            <p class="mt-3 mb-4" th:text="${studentInfo.left.email}"></p>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <img src="resources/degree.png" width="70" height="70" th:src="@{/resources/degree.png}" alt="IMG">
           			  <h4 class="card-title pricing-card-title">Degree</h4>
	            <p class="mt-3 mb-4" th:text="${studentInfo.left.degree}"></p>
          </div>
        </div>
      </div>
      <div class="card-deck mb-1 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <img src="resources/grade.png" width="80" height="80" th:src="@{/resources/grade.png}" alt="IMG">
            			  <h4 class="card-title pricing-card-title">Grade</h4>
            			  
            			  
            			  				 <p class="mt-3 mb-4" th:if="${studentInfo.right.left}==-1">Not inserted</p>
										 <p class="mt-3 mb-4" th:if="${studentInfo.right.left}==0">Absent</p>
										 <p class="mt-3 mb-4" th:if="${studentInfo.right.left}==1">Postponed</p>
										 <p class="mt-3 mb-4" th:if="${studentInfo.right.left}==2">To Sit Again</p>
										 <p class="mt-3 mb-4" th:if="${(studentInfo.right.left &gt; 2) and (studentInfo.right.left &lt; 31) }" th:text="${studentInfo.right.left}"></p>
										 <p class="mt-3 mb-4" th:if="${studentInfo.right.left}==31">30 Cum laude</p>
          
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-body">
             <img src="resources/grade_state.png" width="70" height="70" th:src="@{/resources/grade_state.png}" alt="IMG">
          			  <h4 class="card-title pricing-card-title">Grade State</h4>
	            <p class="mt-3 mb-4" th:text="${studentInfo.right.right}"></p>
          </div>
        </div>
      </div>
      
      <form method="post" class="button1" th:action="@{/GoToExam}">
					 <input type="hidden" name="examId" th:value="${examId}" />
					 <input type="hidden" name="courseId" th:value="${courseId}" />
					<button type="submit" class="btn btn-light" th:disabled="${areAllPublished} == true" th:if="${((studentInfo.right.left &gt; 2) and (studentInfo.right.left &lt; 32)) and !#strings.equals(studentInfo.right.right, 'refused') and !#strings.equals(studentInfo.right.right, 'recorded')}">Refuse Grade</button>
	</form> 
	
    </div>
    
</div>
 <h3 th:if="${hasBeenPublished == false}">Grade hasn't been published yet!</h3>
</div>

</div>

</body>






