<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>tiw-RIA</display-name>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/unidb?allowMultiQueries=true</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>tiw_project2021</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>

  
  <filter>
  	<filter-name>CheckLoggedUser</filter-name>
  	<filter-class>it.polimi.tiw.filters.CheckLoggedUser</filter-class>
  </filter>
  
  <filter>
  	<filter-name>CheckNotLoggedUser</filter-name>
  	<filter-class>it.polimi.tiw.filters.CheckNotLoggedUser</filter-class>
  </filter>
  
    <filter>
  	<filter-name>CheckProfessor</filter-name>
  	<filter-class>it.polimi.tiw.filters.CheckProfessor</filter-class>
  </filter>
  
  <filter>
  	<filter-name>CheckStudent</filter-name>
  	<filter-class>it.polimi.tiw.filters.CheckStudent</filter-class>
  </filter>
  
   <filter>
  	<filter-name>NoCacher</filter-name>
  	<filter-class>it.polimi.tiw.filters.NoCacher</filter-class>
  </filter>  
  <filter-mapping>
  	<filter-name>NoCacher</filter-name>
    <url-pattern>/login.html</url-pattern>	
    <url-pattern>/home.html</url-pattern>
  </filter-mapping>

  
   <filter-mapping>
  	<filter-name>CheckNotLoggedUser</filter-name>
  	<url-pattern>/</url-pattern>
  	<url-pattern>/login</url-pattern>	
 	<url-pattern>/GoToLogin</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>CheckLoggedUser</filter-name>
  	<url-pattern>/home.html</url-pattern>
  	<url-pattern>/Logout</url-pattern>
  	<url-pattern>/GetCoursesList</url-pattern>
  	<url-pattern>/GetHoldCourse</url-pattern>
  	<url-pattern>/GetModifyStudentGrade</url-pattern>
  	<url-pattern>/GetHoldCourse</url-pattern>
   </filter-mapping>	
   
  <filter-mapping>
  	<filter-name>CheckProfessor</filter-name>
  	<url-pattern>/GetCoursesList</url-pattern>
  	<url-pattern>/GetHoldCourse</url-pattern>
  	<url-pattern>/GetModifyStudentGrade</url-pattern>
   </filter-mapping>	
   
   <filter-mapping>
  	<filter-name>CheckStudent</filter-name>
  	<url-pattern>/GetCourse</url-pattern>
  	<url-pattern>/GetExam</url-pattern>
   </filter-mapping>	

 
    <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>

</web-app>